@import "Base.scss";

.cartmini {
  
  
  &__bg-layer{
    position: absolute;
    display: flex;
    justify-content: right;
    background: rgba(153, 153, 153, 0.425);
    width: 100%;
    min-height: 100%;
    z-index: 9;
  }
  
  &__dropdown{
    background: white;
    margin-right: 3rem;
    color: $--c-text;
    font-size: 2rem;
    border: 1px solid #999;
    height: fit-content;
    padding: 1rem 1.8rem 1.8rem 1.8rem;
  }

  .active{
    background: #333;
    color: white;
  }

  &__page-name {
    text-transform: capitalize;
  }

  &__items {
    margin-top: 2.5rem;
  }

  &__empty{font-size: 1.6rem;}

  &__item {
    display: flex;
    margin-bottom: 1rem;
    padding-bottom: 3rem;

    &:last-child {
      border-bottom: none;
    }

    &--left {
      padding-top: 0.3rem;
      border: 1px solid #999;
      width: 15rem;
    }

    &--brand {
      font-weight: normal;
    }
    
    &--name {
      margin-top: 0.6rem;
      margin-bottom: 0.8rem;
      font-weight: normal;
    }

    &--price {
      font-size: 1.4rem;
    }

    &--right {
      display: flex;
      font-size: 2.5rem;
      position: relative;
    }

    &--buttons {
      display: flex;
      margin-right: 1rem;
      flex-direction: column;
      justify-content: space-between;
    }

    &--button {
      margin-left: 0.4rem;
      color: $--c-text;
      font-size: 2.5rem;   
      padding:  0 0.5rem;
      line-height: 2.2rem;
      border: 1px solid #999;
      cursor: pointer;
    }

    &--delete{
      position: absolute;
      top: 0.1rem;
      left: 35rem;
      padding: 1rem;
      background: white;
      font-weight: bold;
      color: $--c-text;
      font-size: 2rem;
      line-height: 1.5rem;
      border: 1px solid #999;
      cursor: pointer;
      &:hover{
        background:#444;;
        color: white;
      }
    }

    &--quantity {
      font-size: 1.6rem;
      text-align: center;
    }

    &--image {
      width: 18rem;
    }
  }

  &__attrs{
    // color: red;
  }

  &__attr {
    text-transform: uppercase;

    &--items {
      display: flex;
      margin-right: 0.4rem;
      margin-top: 2.8rem;
    }

    &--item {
      cursor: pointer;
      display: flex;
      border: 1px solid #999;
      margin: 0.2rem 0.6rem 0 0;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 2.5rem;
      font-size: 1.2rem;
      transition: 0.3s;

      &:hover {
        background: #444;
        color: white;
      }
    }
  }

  &__attr2{
    margin-top: 1rem;
  }

  &__total{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
  }

  &__btns{
    display: flex;
    justify-content: space-between;
  }

  &__btn{
    padding: 1.3rem;
    width: 14rem;
    text-transform: uppercase;
    background: none;
    border: 1px solid #999;
    &:hover{
      border: none;
      color: white;
      cursor: pointer;
      background: $--c-primary;
    }
  }
}
