@import "Base.scss";

.category{
    font-family: "Raleway-Regular", sans-serif;
    // border: 1px solid #999;
    color: $--c-text;
    padding: 0 5.5rem;


    &__name{
        font-size: 4.5rem;
        font-weight: lighter;
        margin: 8.5rem 0 12.5rem 0;
        text-transform: capitalize;
    }

    &__product  {
        margin: 0 1.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 7.5rem;

        &--card{
            // border: 1px solid #999;
            margin-bottom: 5.5rem;
            padding: 1rem;
            padding-bottom: 2rem;
            border: none;
            transition: 0.3s;

            &:hover{
                box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
            }
        }

        &--image-wrapper{
            position: relative;
        }
        
        &--image{
            height: 33.5rem;
            width: 35rem;
            // border: 1px solid #999;
            margin-bottom: 2.5rem;
        }

        &--cart{
            background: $--c-primary;
            border-radius: 50%;
            padding: 1rem;
            position: absolute;
            top: 315px;
            left: 295px;
        }

        &--price{
            margin-top: 1.4rem;
            font-size: 1.6rem;
        }
    }
}