@import "Base";

.navbar {
  display: flex;
  font-family: "Raleway-Regular", sans-serif;
  justify-content: space-between;
  border: 1px solid red;
  font-size: 1.6rem;
  padding-top: 2.4rem;
  text-transform: uppercase;

  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 23rem;
    height: 5rem;

    &--link {
      align-self: stretch;
      // transition: 0.3s;
      &:hover {
        border-bottom: 0.2rem solid $--c-primary;
        color: $--c-primary;
        font-family: "Raleway-SemiBold", sans-serif;
        cursor: pointer;
      }
    }
  }

  &__logo {
    border: 1px solid blue;
    margin-right: 16.4rem;
    margin-top: -0.5rem;
  }

  &__actions{
      display:flex;
      align-items:center;
      margin-top: -0.5rem;
      height:4rem;
  }
}
