@import "Base.scss";

.product {
  font-family: "Raleway-Regular", sans-serif;
  color: #333;
  display: flex;
  justify-content: space-between;
  padding-top: 9rem;
  border: 1px solid #999;

  &__info {
    border: 1px solid #999;
    width: 32.5rem;
    height: 58rem;
  }

  &__title {
    font-size: 3rem;
    letter-spacing: 2px;
  }

  &__subtitle {
    font-size: 2.9rem;
    letter-spacing: 2.3px;
    margin: 1.4rem 0;
  }

  &__attr {
    margin: 4.4rem 0;
    text-transform: uppercase;

    &--title {
      font-size: 2rem;
    }

    &--sizes {
      display: flex;
      justify-content: space-between;
      margin-top: 0.6rem;
      margin-right: 0.4rem;
    }

    &--size {
      display: flex;
      border: 1px solid #999;
      justify-content: center;
      align-items: center;
      width: 7rem;
      height: 5rem;
      font-size: 2rem;
      cursor: pointer;
    }
  }
  
  &__price {
    font-size: 1.5rem;
    text-transform: uppercase;

    &--amount {
      margin-top: 2rem;
      font-size: 2.5rem;
      letter-spacing: 1px;
    }
  }

  &__btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    background: $--c-primary;
    color: white;
    border: none;
    margin-top: 3.2rem;
    font-size: 1.5rem;
    padding: 2rem;
    cursor: pointer;
    width: 100%;
  }

  &__desc {
    margin-top: 4.4rem;
    font-size: 1.6rem;
    line-height: 1.8;
  }
}
