.slider {
  display: flex;
  // justify-content: center;
  // min-width: 85rem;
  border: 1px solid #999;

  &__thumbnails {
    display: flex;
    flex-direction: column;
    line-height: 0;

    li {
      flex: auto;
    }

    a {
      display: block;
    }

    img {
      margin-bottom: 4rem;
      border: 1px solid #999;
      width: 15vmin;
      height: 15vmin;
      object-fit: cover;
      object-position: top;
    }
  }

  &__slides {
    overflow: hidden;
    width: 75vmin;
    height: 100vmin;

    li {
      width: 75vmin;
      height: 100vmin;
      position: absolute;
      z-index: 1;

      &:target {
        z-index: 3;
      }
    }

    img {
      height: 92vmin;
      width: 107vmin;
      margin-left: 6vmin;
      border: 1px solid #999;
      object-fit: cover;
      object-position: top;
    }
  }
}
