.slider {
  display: flex;
  // border: 1px solid #999;

  &__thumbnails {
    display: flex;
    flex-direction: column;
    line-height: 0;

    img {
      cursor: pointer;
      margin-bottom: 4rem;
      width: 15vmin;
      height: 15vmin;
      object-fit: cover;
      object-position: top;
      border: 1px solid #fff;
      transition: .5s;

      &:hover{
        border: 1px solid #999;
      }
    }
  }

  &__slides {
    img {
      height: 42vw;
      width: 46vw;
      margin-left: 6vmin;
    }
  }
}
