.slider {
  display: flex;
  border: 1px solid #999;

  &__thumbnails {
    display: flex;
    flex-direction: column;
    line-height: 0;

    img {
      cursor: pointer;
      margin-bottom: 4rem;
      border: 1px solid #999;
      width: 15vmin;
      height: 15vmin;
      object-fit: cover;
      object-position: top;
    }
  }

  &__slides {
    img {
      height: 45vw;
      width: 45vw;
      margin-left: 6vmin;
      border: 1px solid #999;
      object-fit: cover;
      object-position: top;
    }
  }
}
