.slider {
  display: flex;
  margin-bottom: 6rem;

  &__thumbnails {
    display: flex;
    flex-direction: column;
    line-height: 0;

    img {
      cursor: pointer;
      margin-bottom: 4rem;
      width: 13vmin;
      height: 13vmin;
      object-fit: cover;
      object-position: top;
      border: 1px solid #fff;
      transition: .5s;

      &:hover{
        opacity: 0.7;
      }
    }
  }

  &__slides {
    img {
      height: 38vw;
      width: 45vw;
      margin-left: 6vmin;
      background: rgb(245, 245, 245);
    }
  }
}
