@import "../../App/Base.scss";

.product {
  font-family: "Raleway-Regular", sans-serif;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  padding: 9rem 5.5rem 0 5.5rem;  

  .active{
    background: #333;
    color: white;
  }

  .border{
    border-radius: 25%;
  }
  
  &__info {
    margin-left: 10.5rem;
    // border: 1px solid #999;
    width: 32.5rem;
    // height: 57.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__brand {
    font-size: 3rem;
    letter-spacing: 2px;
  }

  &__name {
    font-size: 2.9rem;
    letter-spacing: 2.3px;
    margin: 1.4rem 0;
  }

  &__attr {
    margin: 2.8rem 0;
    text-transform: uppercase;
    
    &--title {
      font-size: 2rem;
      font-weight: bold;
    }

    &--items {
      display: flex;
      margin-right: 0.4rem;
    }
    
    &--item {
      display: flex;
      border: 1px solid #999;
      margin: 1rem 1rem 1.5rem 0;
      justify-content: center;
      align-items: center;
      width: 7rem;
      height: 5rem;
      font-size: 2rem;
      cursor: pointer;
      transition: 0.3s;
    }
  }
  
  &__price {
    font-size: 1.5rem;
    text-transform: uppercase;

    &--amount {
      margin-top: 2rem;
      font-size: 2.5rem;
      letter-spacing: 1px;
    }
  }

  &__btn {
    margin: 3rem 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    background: $--c-primary;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    padding: 2rem;
    
    &:disabled {
      background: grey;
      cursor: not-allowed;
    }   
  }

  .btn-hover:hover{
    background:#4ca564;
  }

  &__desc {
    font-size: 1.6rem;
    line-height: 1.8;
    height: 30rem; 
    overflow-y: auto;
    padding: 1rem;
    // border: 1px solid #999;
  }
}