// FONT
@font-face {
    font-family: 'Raleway-Regular';
    src: local('Raleway'), url(../Assets/Raleway/static/Raleway-Regular.ttf) format('truetype');
    font-weight:400;
};

@font-face {
  font-family: 'Raleway-Light';
  src: local('Raleway'), url(../Assets/Raleway/static/Raleway-Light.ttf) format('truetype');
  font-weight:300;
};

@font-face {
  font-family: 'Raleway-SemiBold';
  src: local('Raleway'), url(../Assets/Raleway/static/Raleway-SemiBold.ttf) format('truetype');
  font-weight:600;
};

// RESPONSIVE BREAKPOINTS
// $bp-largest: 75.0625rem; // 1201px
// $bp-large: 64.0625rem; // 1025px
$bp-medium: 54.6rem; // 858px
$bp-small: 36rem; // 481px

// COLORS
$--c-primary:#5ECE7B;
$--c-text:#1D1F22;
$--c-black:#1E1F23;
$--box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Raleway-Regular';
  // height: 100%;
  box-sizing: border-box;
  /* REM for size, margin, padding */
  font-size: 62.5%; /* = 10px = 1rem */

  @media only screen and (max-width: $bp-medium) {
    font-size: 52.5%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 46.5%;
  }
}

body {padding-bottom: 4rem;}


img {
  // Responsive
  width: 100%;
  object-fit:center;
}

ul {
  list-style: none;
}

a{
  text-decoration:none;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 1rem solid $--c-primary;
  width: 6rem;
  height: 6rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}