@import "../../App/Base.scss";

.navbar {
  display: flex;
  font-family: "Raleway-Regular", sans-serif;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 2.4rem 5.5rem 0 5.5rem;
  text-transform: uppercase;
  position:relative;
  background:white;
  z-index:9;

  &__minicart{
    .show { display: block; }
    
    &--dropdown{
      display: none;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 20rem;
    height: 5rem;

    .link{
      color: $--c-text;
      &:hover{
        color: $--c-primary;
      }
    }

    &--link {
      align-self: stretch;
      // transition: 0.3s;
      &:hover {
        border-bottom: 0.2rem solid $--c-primary;
        font-family: "Raleway-SemiBold", sans-serif;
        cursor: pointer;
      }
    }
  }

  &__logo {
    margin-right: 16.4rem;
    margin-top: -0.5rem;
  }

  &__actions{
      display:flex;
      align-items:center;
      margin-top: -0.5rem;
      height:4rem;
      position: relative;
      
      &--icon{
        cursor: pointer;
      }

      &--qty{
        position: absolute;
        background: #444;
        color: white;
        border-radius: 50%;
        text-align: center;
        // font-size: 1.5rem;
        width: 2rem;
        left: 6.3rem;
        top:0;
      }
  }
}
